body {
    background-color: lightblue;
}

div {
    background-color: lightblue;
}

h2, h3, h4, h5 {
    text-align: center;
}

.koddur {
    border: 2px solid black;
    background-color: black;
    color: white;
}

.malzeme {
    list-style: square;
}
.dropdown-menu {
    max-height: 600px; /* Maksimum yükseklik */
    overflow-y: auto; /* Kaydırma çubuğu */
}
.resim {
    width: 500px;
    height: 200px;
}
.dropdown-menu {
    max-height: 800px; /* Maksimum yükseklik */
    max-width: 800px; /* Maksimum genişlik */
    overflow: auto; /* Kaydırma çubukları */
    display: flex;
    flex-wrap: wrap;
}

    .dropdown-menu li {
        width: 200px; /* Her bir öğenin genişliği */
    }

